/*---------------------
 Google Font Poppins 
 ----------------------*/
 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:wght@400;500&family=Source+Serif+4:ital@1&family=Yeseva+One&display=swap');


/*------------------- 
Common Style  
---------------------*/
body{
    font-family: Poppins;
    background-color: #FFFFFF;
     
}
hr{
    color: #AAAAAA;
    width: 1000px;
    border-radius: 50%;
}

/*---------------------- 
Start Navigation-Bar  
-----------------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px 100px;
}
.header-title{
    font-size: 24px;
    font-family: Poppins;
    color: #3A3A3A;
    font-weight: bold;

}
.headers-2{
    display: flex;
    justify-content: space-between;
}
.navigation-bar a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-left: 30px;
}

/*---------------------------
 Start Section  
 ----------------------------*/
 .container{
     display: flex;
     justify-content: space-evenly;
 }
 .section-header{
    width: 582px;
    height: 270px;
 }
 .section-title{
    color: #3A3A3A;
    font-size: 52px;
    line-height: 50px;
 }
 .section-title-1{
    color: #3A3A3A;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5%;
 }
 .batton a{
    text-decoration: none;
    color: #FFFFFF;
 }
 .batton{
    color: #FFFFFF;
    background: #E02C6D;
    padding: 10px 15px;
    border-radius: 41px;
    
 }
 .section-photo{
    padding-top: 116px;
    padding-right: 165px;
 }
 .section-photo img{
    width: 405px;
    height: 378px;
 }
 .photo:hover{
     transform: scale(1.2);
     transition: transform 4s ease-in-out;
 }
 /*--------------------------
  Strat Main  
  --------------------------*/
  .container-1{
      margin-top: 69px;
  }
  .logo{
      display: flex;
      justify-content: space-around;
      margin: 0 165px;
  }
  /*------------------------
   Container-1 End  
   -------------------------*/
   .section-2{
       margin-top: 10%;
   }
   .container-2{
       display: flex;
       justify-content: center;
       margin-bottom: 10%;
   }
   .section-title{
    text-align: center;
}
.mothar-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    position: relative;
}
.blogs{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;

}
.blog-authore{
    color: #18191F;
    line-height: 10px;
}
.price{
    font-size: 24px;
    font-weight: normal;
    line-height: 10px;
}
.full{
    color: #FB8200;
    font-size: 14px; 
}
.empty{
    color: wheat;
    font-size: 14px;
}
.see-battun a{
    text-decoration: none;
    color: #E02C6D;
    float: right;
}
.end-section{
   position: relative;
   top: -95px;
}
.see-battun{
    position:absolute;
    left: 83%;
    
}
/*-------------------------
 Section-2 Complite  
 -------------------------*/


 /*----------------------- 
 Start Container-2  
 -------------------------*/
 .container-2{
     display: flex;
     justify-content: space-evenly;
 }
 .video{
     width: 50%px;
     border-radius: 7px;
     margin: 0 5%;
 }
.video.info{
    width: 50%;
    height: 224px;
    margin: 5%;
} 
/*----------------------------- 
End Container-2  
------------------------------*/

/*-------------------------------
 Main Complite  
 -------------------------------*/

 /*------------------------------ 
 Footer Start
 -------------------------------*/
footer{
    background-color: #0A0826;
    padding: 30px;
} 
.footer-title{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}
.copyright{
    color: #FFFFFF;
    text-align: center;
}
.footer-aicon{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}
.aicon{
    margin: 0px 16px;
}
/*----------------------------
 Footer Complite  
 ------------------------------*/
 /*------------------------------
  Media Querise  
  ------------------------------*/

  /*-----------------------------
   Mobile Devices  
   -----------------------------*/
   @media only screen and (max-width:600px){

       .headers-2{
           display: none;
       }
       .container{
           display: block;
           padding: 5px;
       }
       .section-title{
           font-size: 28px;
           text-align: center;
       }
       .section-header{
           width: 50%;
           height: 50%;
           margin-bottom: 5%;
       }
       .section-phot{
           width: 50%;
           height: 50%;
       }
       .section-phot img{
           height: 190px;
           width: 202px;
       }
       .photo:hover{
        transform: scale(1.2);
        transition: transform 4s ease-in-out;
       }
       /*----------------------
        Container Complite  
        ----------------------*/
        .container-1{
            display: none;
        }
        /*----------------------
        Container-1 Complite  
        ----------------------*/
       .mothar-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        position: relative;
    }
    .end-section{
        display: none;
    }

    /*----------------------------
     Mothar-container complite 
     ----------------------------*/
     .container-2{
         display: block;
     }
     .video{
         height: 30%;
         width: 50%;
     }
     iframe{
         width: 300px;
     }
   }
   /*-------------------------
    Complite Mobail Devicss  
    -------------------------*/

   /*------------------------
       Tablet Devices Start 
    ------------------------*/
    @media only screen and (min-width:600px) and (max-width:1100px){
        .headers-2{
            display: none;
        }
        .section-photo img{
            width: 405px;
            height: 378px;
        }
        .mothar-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 30px;
            position: relative;
        }
        /*----------------------------
          Mothar-container complite 
         ----------------------------*/
         .container-2{
            display: block;
        }

    }
    /*-------------------
    Tablet Complite 
    ---------------------*/